.wave {
  background: rgba(255, 255, 255, .4);
  border-radius: 50%;
  transform: scale(0);
  animation: wave .5s linear;
  pointer-events: none;
  position: absolute;
}

@keyframes wave {
  100% {
   transform: scale(2);
   opacity: 0;
  }
}

.btn {
	position: relative;
	overflow: hidden;
	border-radius: $gl-radius;
	z-index: 3;
	@include bp($point_5) {
		border-radius: 0.5rem;
	}
	

	&:before, &:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		pointer-events: none;
		@include z-index(el);
		transition: all .3s ease;
	}
	&.vio-btn {
		button, a, input[type='submit'] {
			@include app;
			color: $white;
			font-size: 2rem;
		}
		&:before {
			background: $double;
			opacity: 1;
			visibility: visible;
		}
	
		&:after {
			background: $double-dark;
			opacity: 0;
			visibility: hidden;
		}
		&:hover {
			&:before {
				opacity: 0;
				visibility: hidden;
			}
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&.light-btn {
		button, input[type="submit"], a {
			color: #232323B2;
		}
		&:after {
			background: #EBEBEB;
			opacity: 1;
			visibility: visible;
		}
		&:hover {
			button, a, input[type='submit'] {
				color: $white;
			}
			&:before {
				opacity: 1;
				visibility: visible;
				background: $double;
			}
			&:after {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	&.big-mode {
		button, a, input[type='submit'] {
			padding: 2.8rem 8rem;
			@include bp($point_5) {
				padding: 1.5rem 3rem;
				font-size: 1.6rem;
			}
		}		
	}
	button, a, input[type='submit'] {
		padding: 2.1rem 8rem;
		font-family: $font_3;
		cursor: pointer;
		width: 100%;
		font-size: 2rem;
		display: block;
		@include bp($point_2) {
			padding: 2rem 3rem;
			text-align: center;
			line-height: 2.2rem;
		}

		@include bp($point_5) {
			padding: 1.5rem 3rem;
			font-size: 1.6rem;
		}
	}
}

