.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-close {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-global-arrow {
	font-size:calc(10/10)*1rem;
	width:calc(19/10)*1em;
}
.icon-next {
	font-size:calc(19/10)*1rem;
	width:calc(10/19)*1em;
}
.icon-prev {
	font-size:calc(19/10)*1rem;
	width:calc(10/19)*1em;
}
.icon-tg {
	font-size:calc(16/10)*1rem;
	width:calc(17/16)*1em;
}
.icon-wa {
	font-size:calc(16/10)*1rem;
	width:calc(16/16)*1em;
}
